function Sokoban.new 1
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 0
push constant 14
push constant 14
call GameBoard.new 2
pop this 1
push pointer 0
call Sokoban.loadLevel1 1
pop temp 0
push pointer 0
call Sokoban.drawBoard 1
pop temp 0
push this 3
push this 2
call Sokoban.drawPlayer 2
pop temp 0
push pointer 0
return
function Sokoban.dispose 1
push argument 0
pop pointer 0
push this 1
call GameBoard.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Sokoban.run 4
push argument 0
pop pointer 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 24576
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
gt
push local 0
push constant 134
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 130
eq
push local 0
push constant 132
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
pop local 2
push this 2
push local 0
add
push constant 131
sub
pop local 3
goto IF_END1
label IF_FALSE1
push this 3
push local 0
add
push constant 132
sub
pop local 2
push this 2
pop local 3
label IF_END1
push pointer 0
push this 3
push this 2
push local 2
push local 3
call Sokoban.move 5
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 81
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 1
goto IF_END2
label IF_FALSE2
push local 0
push constant 82
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call GameBoard.getPlayerStartRow 1
pop this 3
push this 1
call GameBoard.getPlayerStartCol 1
pop this 2
push this 1
call GameBoard.loadState 1
pop temp 0
push pointer 0
call Sokoban.drawBoard 1
pop temp 0
push this 3
push this 2
call Sokoban.drawPlayer 2
pop temp 0
label IF_FALSE3
label IF_END2
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Sokoban.move 6
push argument 0
pop pointer 0
push this 1
push argument 1
push argument 2
call GameBoard.get 3
pop local 1
push this 1
push argument 3
push argument 4
call GameBoard.get 3
pop local 0
push local 0
push constant 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 5
goto IF_END0
label IF_FALSE0
push local 0
push constant 4
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 3
push argument 3
add
push argument 1
sub
pop local 3
push argument 4
push argument 4
add
push argument 2
sub
pop local 4
push this 1
push local 3
push local 4
call GameBoard.get 3
pop local 2
push local 2
push constant 2
lt
pop local 5
push local 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
push local 4
call Sokoban.drawBox 2
pop temp 0
push this 1
push argument 3
push argument 4
push local 0
push constant 2
sub
call GameBoard.set 4
pop temp 0
push local 2
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 3
push local 4
call Sokoban.drawBoxOnTarget 2
pop temp 0
goto IF_END3
label IF_FALSE3
push local 3
push local 4
call Sokoban.drawBox 2
pop temp 0
label IF_END3
push this 1
push local 3
push local 4
push local 2
push constant 2
add
call GameBoard.set 4
pop temp 0
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push constant 0
pop local 5
label IF_END1
label IF_END0
push local 5
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 3
pop this 3
push argument 4
pop this 2
push local 1
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
push argument 2
call Sokoban.drawTarget 2
pop temp 0
goto IF_END5
label IF_FALSE5
push argument 1
push argument 2
call Sokoban.erase 2
pop temp 0
label IF_END5
push this 3
push this 2
call Sokoban.drawPlayer 2
pop temp 0
label IF_FALSE4
push constant 0
return
function Sokoban.loadLevel1 0
push argument 0
pop pointer 0
push this 1
push constant 0
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 0
push constant 1
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 0
push constant 2
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 0
push constant 3
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 0
push constant 4
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 0
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 1
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 2
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 3
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 4
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 1
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 2
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 3
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 4
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 0
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 1
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 2
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 3
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 4
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 5
push constant 5
push constant 4
call GameBoard.set 4
pop temp 0
push this 1
push constant 2
push constant 3
push constant 2
call GameBoard.set 4
pop temp 0
push this 1
push constant 4
push constant 2
push constant 1
call GameBoard.set 4
pop temp 0
push this 1
push constant 1
push constant 4
call GameBoard.setPlayerStartPos 3
pop temp 0
push this 1
call GameBoard.saveState 1
pop temp 0
push this 1
call GameBoard.getPlayerStartRow 1
pop this 3
push this 1
call GameBoard.getPlayerStartCol 1
pop this 2
push constant 0
return
function Sokoban.drawBoard 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 14
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 14
lt
not
if-goto WHILE_END1
push this 1
push local 0
push local 1
call GameBoard.get 3
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
call Sokoban.erase 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call Sokoban.drawTarget 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 1
call Sokoban.drawBox 2
pop temp 0
goto IF_END2
label IF_FALSE2
push local 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
call Sokoban.drawBoxOnTarget 2
pop temp 0
goto IF_END3
label IF_FALSE3
push local 2
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push local 1
call Sokoban.drawWall 2
pop temp 0
label IF_FALSE4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Sokoban.drawBox 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sokoban.drawTarget 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14364
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 14364
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sokoban.drawBoxOnTarget 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 27639
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28151
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28119
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28343
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28215
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28535
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sokoban.drawWall 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 32508
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1025
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 27647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29696
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32249
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32287
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16127
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32510
call Memory.poke 2
pop temp 0
push constant 0
return
function Sokoban.drawPlayer 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1360
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3096
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 9234
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 7196
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1168
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2184
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sokoban.erase 1
push constant 16384
push constant 512
push argument 0
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
